.App__Header {
  background-image: url("../Images/Space_Banner.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  height: 20vh;
  grid-row: 1;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 40px;
}

.Header__Title {
  margin-top: 2%;
}

.App__Main {
  display: grid;
  grid-template-rows: 20vh 60vh;
  background-image: url("../Images/Helios.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.SearchBox__form {
  margin-top: 10px;
  grid-row: 1;
  font-size: 30px;
  background: rgb(232, 243, 243, 0.7);
  border-radius: 10px;
  margin-bottom: 20px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
}

.form__textBox {
  height: 30px;
  border-radius: 10px;
  font-size: 30px;
}

.form__button {
  height: 40px;
  font-size: large;
}

.SearchBox__DestComponent {
  grid-row: 2;
}

.SearchBox__Destination {
  display: grid;
  grid-template-rows: 15vh 20vh;
  background: rgb(232, 243, 243, 0.7);
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
  font-size: 30px;
}

.Destination__title {
  grid-row: 1;
}

.Destination__result {
  font-size: 50px;
  font-style: italic;
  grid-row: 2;
}

@media only screen and (min-width: 1000px), (min-device-width: 1000px) {
  .App__Main {
    background-size: 100% 100%;
  }
}
